@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --fira-code: "Fira Code", "Courier New", serif;
  --dark-color:   #373226;
  --light-color: #F6F2EC;
  --brand-color-primary: #FDB514;
  --brand-color-secondary: #1c3151;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid green; */
}

html {
  font-family: var(--fira-code);
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--light-color);
  color: var(--dark-color);
}

header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 25px 10vw;
  height: 15rem;
}

ul {
  list-style: none;
  padding: 0;
}

a, a:visited {
  color: var(--dark-color);
  text-decoration: underline;
}
a:hover, a:active {
  color: var(--brand-color-primary);
}


#tagline {
  display: block;
  width: auto;
  font-weight: 700;
  rotate: -90deg;
  text-align: center;
  transition: rotate 0.7s ease;
  cursor: none;
}
#tagline:hover {
  rotate: 90deg;
}
#tagline #design {
  rotate: 180deg;
}
#tagline hr {
  height: 0.2rem;
  border: none;
  border-radius: 0.15rem;
  background-color: #111;
}

.logo {
  fill: var(--dark-color);
  transition: fill 0.1s ease;
  cursor: none;
}
#header-logo {
  width: 15rem;
}
#header-logo:hover .logo {
  fill: var(--brand-color-primary);
}

#nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu{ display: none; }
.menu * {
  padding: 10px;
}

.burger {
  all: unset;
  width: 100px;
  fill: var(--dark-color);
  cursor: pointer;
}
.burger * {
  transition: fill 0.2s ease;
}
.burger:hover .bun { fill: #a46b0e; }
.burger:hover #lettuce { fill:#0e691a; }  
.burger:hover #cheese { fill: #fdb514; }
.burger:hover #patty { fill: #593a07; }
/* .burger:hover .menu { display: block;} */

.headline {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;

  margin: auto;
}

#hero {
  margin: auto;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: var(--dark-color);
  fill: var(--dark-color);
}
#V2:hover #monotropic,
#V2:hover #orb {
  fill: var(--brand-color-secondary);
}

.hero-graphic {
  padding: 25px;
  width: 30vw;
}

.container h1, 
.container .post-info {
  text-align: center;
}

.post-content, .blog-index {
  display: flex;
  flex-direction: column;
  width: min(800px, 90vw);
  margin: auto;
}
.blog-index h1 {
  text-align: center;
}

.body-content {
  padding: 20px;
}
.body-content p {
  padding: 1rem 0;
}

@media screen and (min-width: 600px) {
  /* .menu {
    display: flex;
  } */

  /* .burger {
    display: none;
  } */
}